<html>
    <head>
        <title>koa+mongodb实现增删改查功能</title>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <a href="/add">添加</a>
        <table>
            <tr>
                <th>姓名</th>
                <th>年龄</th>
                <th>操作</th>
            </tr>
            <tbody>
                {{ each users }}
                    <tr>
                        <td>{{ $value.name }}</td>
                        <td>{{ $value.age }}</td>
                        <td>
                            <a href="/update?id={{@$value._id}}">修改</a>
                            <a href="/remove?id={{@$value._id}}">删除</a>
                        </td>
                    </tr>
                {{ /each }}
            </tbody>
        </table>
    </body>
    <script>
        axios.get('/itying/user/5e7ceb6e1b11fe2938431310')
        .then(function (response) {
            console.log(response.status, 666);
        })
        .catch(function (error) {
            console.log(333);
        });
    </script>
</html>